@use "variables" as variables;
@use "mixins" as mixins;
@use "extends";

/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

/**
 * Basic styling
 */
body {
  font-family: variables.$base-font-family;
  font-size: variables.$base-font-size;
  line-height: variables.$base-line-height;
  font-weight: 300;
  color: variables.$color-text;
  background-color: variables.$color-background;
  -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: calc(variables.$spacing-unit / 2);
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: variables.$small-font-size;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: variables.$spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  font-family: "Futura", sans-serif;
}

h4 {
  font-size: 12px;
}

/**
 * Links
 */
a {
  color: variables.$color-brand;
  text-decoration: none;

  &:hover {
    color: variables.$color-text;
    text-decoration: underline;
  }
}

span.link {
  cursor: pointer;
  color: variables.$color-brand;
  text-decoration: none;

  &:hover {
    color: variables.$color-text;
    text-decoration: underline;
  }
}

/**
 * Enforce bold (Firefox)
 */
strong {
  font-weight: bold;
}

/**
 * Blockquotes
 */
blockquote {
  color: variables.$color-grey;
  border-left: 4px solid variables.$color-grey-light;
  padding-left: calc(variables.$spacing-unit / 2);
  font-size: 100%;
  letter-spacing: -0.5px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid variables.$color-grey-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Wrapper
 */
.wrapper {
  position: relative;
  max-width: -webkit-calc(760px - (#{variables.$spacing-unit} * 2));
  max-width: calc(760px - (variables.$spacing-unit * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: variables.$spacing-unit;
  padding-left: variables.$spacing-unit;

  @extend %clearfix;

  @include mixins.media-query(variables.$on-laptop) {
    max-width: -webkit-calc(800px - (#{variables.$spacing-unit}));
    max-width: calc(800px - variables.$spacing-unit);
    padding-right: calc(variables.$spacing-unit / 2);
    padding-left: calc(variables.$spacing-unit / 2);
  }
}

/**
 * Icons
 */
.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: variables.$color-grey;
    }
  }
}
