.site-title-text {
  /*font-family: "Calibri", "Microsoft YaHei", "PingFang SC", sans-serif;*/
  font-weight: 400; /* 默认正常 */
  font-size: 18px;  /* 你也可以同时调字号 */
  letter-spacing: 0.5px;
}

/*.site-title-text .en { 
    /*font-weight: 700; 
    font-size: 1.8rem;
 }*/
