---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
$base-url: "{{ site.baseurl }}";

//$base-font-family: Charter, Georgia, Helvetica, Arial, sans-serif;
$base-font-family: Garamond;
$base-font-size: 22px;
$small-font-size: $base-font-size * 0.8;
$base-line-height: 1.7;

$spacing-unit:15px;

$text-color: #111;
$background-color: #ffffff;
$brand-color: #EC4838;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

$on-mobile: 500px;
$on-laptop: 800px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout", "site", "work", "blog", "post", "404";
@import "sass-code-highlight/monokai";