<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="blog">
          <h1 class="page-heading">{{ page.title }}</h1>
          {{ content }}


          <p class="blog-post-list">
            <h3>Mathematics</h3>
            {% for post in site.posts %}

              {% if post.draft != true %}
                {% if post.topic == 'math' %}
                  <span class="blog-post-date">{{ post.date | date: "%-m/%-d/%y" }}</span>
                  <a href="{{ post.url | replace:".html","" | prepend: site.baseurl }}" class="blog-post-title">
                    {{ post.title }}
                  </a>
                  <br />
                {% endif %}
              {% endif %}

            {% endfor %}
          </p>


          <p class="blog-post-list">
            <h3>Statstics</h3>
            {% for post in site.posts %}

              {% if post.draft != true %}
                {% if post.topic == 'st' %}
                  <span class="blog-post-date">{{ post.date | date: "%-m/%-d/%y" }}</span>
                  <a href="{{ post.url | replace:".html","" | prepend: site.baseurl }}" class="blog-post-title">
                    {{ post.title }}
                  </a>
                  <br />
                {% endif %}
              {% endif %}

            {% endfor %}
          </p>


          <p class="blog-post-list">
            <h3>Machine Learning</h3>
            {% for post in site.posts %}

              {% if post.draft != true %}
                {% if post.topic == 'ml' %}
                  <span class="blog-post-date">{{ post.date | date: "%-m/%-d/%y" }}</span>
                  <a href="{{ post.url | replace:".html","" | prepend: site.baseurl }}" class="blog-post-title">
                    {{ post.title }}
                  </a>
                  <br />
                {% endif %}
              {% endif %}

            {% endfor %}
          </p>

          <p class="blog-post-list">
            <h3>Computer Science</h3>
            {% for post in site.posts %}

              {% if post.draft != true %}
                {% if post.topic == 'cs' %}
                  <span class="blog-post-date">{{ post.date | date: "%-m/%-d/%y" }}</span>
                  <a href="{{ post.url | replace:".html","" | prepend: site.baseurl }}" class="blog-post-title">
                    {{ post.title }}
                  </a>
                  <br />
                {% endif %}
              {% endif %}

            {% endfor %}
          </p>

        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
