<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <h1>Kyungsu Choi</h1>
        <div class="home">
          <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profile-pic"
          />
          {{ content }}
        </div>
      </div>
    </div>


    <div class="page-content">
      <div class="wrapper">
        <h1>MSc Dissertation</h1>
        <div class="home">
          <table>
            <tr>
              <th scope="row">Sep, 2021</th>
              <td>
                Unsupervised Face Clustering via Adversarial Variational Graph Auto-Encoder and Similarity Density<br>
                <a href="{{ ""/site.url}}/assets/pdf/dissertation.pdf">
                  To add pdf icon img
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>


    <div class="page-content">
      <div class="wrapper">
        <h1>Education</h1>
        <div class="home">
          <table>
            <tr>
              <th scope="row">Oct 2020 - Sep 2021</th>
              <td>
                <b style="font-size: 16px">[University of Warwick, United Kingdom]</b><br>
                MSc Data Analytics 2:1 (Merit)<br>
                <p>
                  <b>Dissertation(Distinction)</b><br>
                  Developed unsupervised face clustering via adversarial variational auto-encoders with graph convolution network(GCN) and similarity density.<br>
                </p>
                <p>
                  <b>Computer Vision</b><br>
                  Developed CNN based objects classification model by capturing objects and background subtraction(OpenCV) for video data<br>
                  Improved accuracy of microscopy cell image regression by SMOTE and image augmentation<br>
                </p>
                <p>
                  <b>NLP</b><br>
                  Developed emoji preprocessing with Bi-LSTM for tweet sentiment classification.<br>
                </p>
                <p>
                  <b>General ML & Others</b><br>
                  Analysed London air pollutants data by Linear regression and classification.<br>
                  Improved calculation performance of computational fluid dynamics(CFD) by parallelisation(OpenMP and MPI)<br>
                </p>
              </td>
            </tr>
            <tr>
              <th scope="row">Mar 2008 - Feb 2016</th>
              <td>
                <b style="font-size: 16px">[Sejong University, South Korea]</b><br>
                B.S. Electronics Engineering 1st<br>
                Cumulative GPA: 4.20/4.5    Major GPA: 4.26/4.5<br>
                <p>
                  <b>Fundamental Course</b><br>
                  C/C++programming, Advanced engineering mathematics, Calculus.
                </p>
                <p>
                  <b>Electronic Engineering</b><br>
                  Electromagnetic, Physical Electronics, Electronic Circuit
                </p>
                <p>
                  <b>Telecommunication</b><br>
                  Communication Theory, Automatic Control, Computer architecture
                </p>
                <p>
                  <b>Awards</b><br>
                  1st Honor scholarship (3 times) and 3rd Honor scholarship
                </p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>


    <div class="page-content">
      <div class="wrapper">
        <h1>Experience</h1>
        <div class="home">
          <table>
            <tr>
              <th scope="row">Sep, 2021</th>
              <td>
                Unsupervised Face Clustering via Adversarial Variational Graph Auto-Encoder and Similarity Density<br>
                <a href="{{ ""/site.url}}/assets/pdf/dissertation.pdf">
                  To add pdf icon img
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
