<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="work">
          <h1 class="page-heading"><strong>{{ page.title }}</strong></h1>
          {{ content }} {% for item in page.items %}
          <div class="work-item">
            <span class="work-text">
              <strong>{{ item.title }}</strong>
              <br />
              <span class="work-author">
                <em>{{ item.authors }}</em>
                <!-- 저자 -->
              </span>
              <br />
              <span class="work-conference">
                <em>{{ item.conference }}</em>
                <!-- 학회 or Preprint -->
              </span>
              <br />
              <span class="work-links">
                <a href="{{ item.paper_url }}" target="_blank">paper</a>
              </span>
              <br />
              <span class="work-description">
                {{ item.description }}
                <!-- 논문 설명 -->
              </span>
            </span>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    {% include footer.html %} {% include foot.html %}
  </body>
</html>
