<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="work">

          <h1 class="page-heading">Job Market Paper</h1>
          {% for item in page.jmp %}
            <div class="work-item">
              <strong>{{ item.title }}</strong>
              <br />
              <span class="abstract-text"><strong>Abstract: </strong>
              {{ item.abstract }}</span>
            </div>
          {% endfor %}

          <h1 class="page-heading">Publications</h1>
          {% for item in page.publications %}
          <div class="work-item">
            <strong>{{ item.title }}</strong>
            {{ item.split }}
            {{ item.description }}
            <!--<br />
            <span class="abstract-text"><strong>Abstract: </strong>
            {{ item.abstract }}</span>-->
          </div>
          {% endfor %}

          <h1 class="page-heading">Working Papers</h1>
          {% for item in page.wp %}
          <div class="work-item">
            <strong>{{ item.title }}</strong>
            {{ item.split }}
            {{ item.description }}
            <br />
            <span class="abstract-text"><strong>Abstract: </strong>
            {{ item.abstract }}</span>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include foot.html %}
  </body>
</html>
